<div class="recommend-css">
<div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Mentor's name</mat-label>
        <input #cricket (change)="update($event)" matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button class="button-color" mat-raised-button (click)="search()">SUBMIT</button>
    <!-- color="primary" -->
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Field</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of results">
                <td>{{ result.id }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.field }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<!-- (click)="predicter()" -->