<div class="credits-card">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Mehak Agrawal</mat-card-title>
            <mat-card-subtitle>Student</mat-card-subtitle>
        </mat-card-header>
        <img class="usericon" mat-card-image src="../../../../../assets/mehak.jpg" alt="Photo of a Mehak">
        <mat-card-content>
            <p>
                Mehak Agrawal is a final year student pursuing B.Tech in Information Technology at Amity University. She
                is driven by
                the notion of utilizing the potential of technology to build sustainable applications and turn the data
                into actionable
                insights by harnessing the ever-expanding world of data. She is incredibly passionate about the growth
                and development
                of the tech ecosystem.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a href="https://www.linkedin.com/in/mehakagrawal/"><button mat-raised-button class="card-button"
                    color="primary">LINKEDIN</button></a>
            <a href="https://github.com/mehakagrawal"><button mat-raised-button class="card-button"
                    color="primary">GITHUB</button></a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Ashir Vijh</mat-card-title>
            <mat-card-subtitle>Student</mat-card-subtitle>
        </mat-card-header>
        <img class="usericon" mat-card-image src="../../../../../assets/ashir.jpg" alt="Photo of Ashir">
        <mat-card-content>
            <p>
            Ashir Vijh is a final year student pursuing B.Tech in Information Technology at Amity University.
            He has proficient knowledge in the domains of software engineering, data analytics, DevOps, and web
            development
            with an excellent understanding of business operations and effective tools. He is skilled
            enough in various programming languages.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a href="https://www.linkedin.com/in/ashir-vij-63876886"><button mat-raised-button class="card-button"
                    color="primary">LINKEDIN</button></a>
            <a href="https://github.com/ashirvij"><button mat-raised-button class="card-button"
                    color="primary">GITHUB</button></a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Anand Kumar Dubey</mat-card-title>
            <mat-card-subtitle>Student</mat-card-subtitle>
        </mat-card-header>
        <img class="usericon" mat-card-image src="../../../../../assets/anand.jpg" alt="Photo of Anand">
        <mat-card-content>
            <p>
                Anand Kumar Dubey is a final year student pursuing B.Tech in Information Technology at Amity University.
                He has proficient knowledge in the domains of software engineering, data analytics, DevOps, and web
                development
                with an excellent understanding of business operations and effective tools. He is skilled
                enough in various programming languages.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a href="https://www.linkedin.com/in/anand-kumar-dubey-408559179/"><button mat-raised-button class="card-button"
                    color="primary">LINKEDIN</button></a>
            <a href="https://github.com/shakaknight"><button mat-raised-button
                    class="card-button" color="primary">GITHUB</button></a>
        </mat-card-actions>
    </mat-card>
</div>