<div class="base">
    <p class="title">Submit your problem statment:</p>
    <div class="input-container">
        <p class="sub-title"><span>Problem statement :</span><br><input #problemInput class="input table-input"
                placeholder="Enter the problem statment."></p>
        <p class="sub-title"><span>Fields :</span><br><input #fieldsInput class="input table-input" placeholder="Enter the field seprated with commas.">
        </p>
        <button mat-raised-button class="button card-button" (click) = "submit(problemInput.value,fieldsInput.value)">SUBMIT</button>
    </div>
    <p class="title">Your submitted problem :</p>
    <div>
        <table class="table table-striped table-content">
            <thead>
                <tr>
                    <th>Problem statment</th>
                    <th>Fields</th>
                    <th>Submit Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let problem of problems">
                    <td>{{problem.problem}}</td>
                    <td>{{problem.fields}}</td>
                    <td>{{problem.submitDate}}</td>
                    <td>
                        <mat-card-actions>
                            <button mat-raised-button class="card-button action-button" (click)="viewSolution(problem._id)" color="primary">VIEW</button>
                            <button mat-raised-button class="card-button action-button" (click)="deleteProblem(problem._id)"
                                color="primary">DELETE</button>
                        </mat-card-actions>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>