<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new resource:
        </h1>
        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter title...">
        <br><br>
        <input #taskPagesInput class="input has-background-light is-medium" type="text" placeholder="Enter pages for resources...">
        <br><br>
        <input #taskLinkInput class="input has-background-light is-medium" type="text" placeholder="Enter link for the resource...">
        <br><br>
        <div class="buttons is-right">
            <button mat-raised-button class="button is-primary has-text-white is-medium card-button" (click)="createResource(taskTitleInput.value,taskPagesInput.value,taskLinkInput.value)">Create</button>
            <button mat-raised-button class="button is-medium card-button" (click)="close()">Cancel</button>
        </div>
    </div>
    <div>

    </div>
</div>