<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a Publication:
        </h1>
        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter title...">
        <br><br>
        <input #taskLinkInput class="input has-background-light is-medium" type="text"
            placeholder="Enter link for the resource...">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-primary has-text-white is-medium"
                (click)="createPublication(taskTitleInput.value,taskLinkInput.value)">Create</button>
            <button class="button is-medium" (click)="close()">Cancel</button>
        </div>
    </div>
    <div>

    </div>
</div>