<div class="chart-wrapper" style="display:flex;height:100%">
    <div style="width: 85%;height:100%">
        <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" height="5" width="7" [legend]=""
            [colors]="doughnutChartColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
    </div>
    <div style="width:20%">
        <div style="line-height:25px;">
            <!-- <span style="margin-top:10px"> -->
            <div class="dot" style="background:rgb(0, 255, 255);"></div>
            <span style="font-size:15px;font-weight: bold;">52.4%</span>
            <p style="font-size:15px">Desktop</p>
        </div>
        <hr style="height: 3px;">
        <div style="line-height:25px;">
            <div class="dot" style="background:rgb(153, 102, 255);">
            </div><span style="font-size:15px;font-weight: bold;">16.4%</span>
            <p style="font-size:15px">Tablet</p>
        </div>
        <hr style="height: 3px;">
        <div style="line-height:25px;">
            <div class="dot" style="background: rgb(255, 131, 51);"></div>
            <span style="font-size:15px;font-weight: bold;">31.2%</span>
            <p style="font-size:15px">Mobile</p>
        </div>
    </div>
</div>