<div class="chart-wrapper" style="display:flex;height:100%">
    <div style="width: 85%;height:100%">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" height="65px" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div style="width:20%">
        <div class="side-info">
            <mat-icon class="graph-icon" aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
            <div style="font-size:25px;height:40px"> 120,495</div>
            <mat-icon class="graph-icon" aria-hidden="false" aria-label="Example home icon">trending_up</mat-icon>
            <div style="font-size:25px;height:40px">
                22.5%
            </div>
            <mat-icon class="graph-icon" aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
            <div style="font-size:25px;height:40px">
                04:39
            </div>
        </div>
        <button mat-raised-button color="accent" style="width:100%">VIEW REPORTS</button>
    </div>
</div>
